<section class="mb-lg-14 mt-8" *ngIf="storeList$ | async as store">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0">
            <div class="d-flex flex-column">
              <div>
                <img
                  [src]="store.logoUrl"
                  [alt]=""
                  class="rounded-circle icon-shape icon-xxl"
                />
              </div>
              <div class="mt-4">
                <h1 class="mb- h41">
                  {{ store.name }}
                </h1>
                <div class="small text-muted">
                <span> It is only {{ store.distanceInMeters }} km away from you!</span>
                  </div>
                  </div>
                  </div>
                  </div>
                
      <div class="col-12 col-lg-9 col-md-8">
        <div class="mb-8 bg-light d-lg-flex justify-content-lg-between rounded">
          <div class="align-self-center p-8">
  
            <div class="mb-3">
              <h5 class="mb-0 fw-bold">{{ store.name }}</h5>
            
            <p class="mb-0 text-muted">
              Whatever the occasion, we're got you covered.
            </p>
          </div>
          <div class="position-relative">
            <form [formGroup]="search">
              <input
                type="search"
                class="form-control"
                formControlName="title"
                placeholder="Search {{store.name}}"
              />
            </form>
            <span class="position-absolute end-0 top-0 mt-2 me-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-search"
              >
                <circle cx="11" cy="11" r="8"></circle>
                <line xl="21" yl="21" x2="16.65" y2="16.65"></line>
              </svg>
            </span>
          </div>
        </div>
        <div class="py-4">
          <img
            src="assets/images/svg-graphics/store-graphics.svg"
            alt
            class="img-fluid"
          />
        </div>
      </div>
      </div>
      </div>
      </div>
      </section>
  
  
      <section class="my-lg-8 my-4" *ngIf="storeList$ | async as store">
        <div class="container">
            <div class="col-12 mb-6">
              <h3 class="mb-0">{{store.name}} Products:</h3>
            </div>
            <div class="row row-cols-2 row-cols-xl-6 row-cols-md-3 g-4">
              <div
                class="col "
                *ngFor="let item of productList$ | async">
           
                <div>
                <div class="card-body text-center py-4">
        
                    <img
                        src="{{ item.imageUrl }}"
                        alt="item.name"
                        class="mb-3 img-fluid">
  
                  <div class="text">{{ item.name }}</div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </section>
  