

<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-8">
          <h3 class="mb-0">Shop by Category</h3>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xxl-4 g-6">
      <div *ngFor="let item of categoriesList$ | async" class="col">
        <a
          [routerLink]="'/categories/' + item.id"
          class="text-decoration-none text-inherit"
        >
          <div class="card card-product">
            <div class="card-body text-center py-8">
              <img [src]="item.imageUrl" [alt]="item.name" class="mb-3" />

              <div class="text-truncate">{{ item.name }}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-8">
          <h3 class="mb-0">Fruits & Vegetables</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let product of FruitList$ | async" class="col">
        <a
          [routerLink]="'/categories/' + product.id"
          class="text-decoration-none text-inherit">
          <div class="card card-product">
            <div class="card-body">
              <div class="text-center position-relative">
                <a
                  ><img
                    [src]="product.imageUrl"
                    [alt]="product.name"
                    class="mb-3 img-fluid"
                /></a>
              </div>
              <h2 class="fs-6">
                <a class="text-inherit text-decoration-none">{{
                  product.name
                }}</a>
              </h2>

              <div
                class="d-flex justify-content-between align-items-center mt-3">
                <div>
                  <span class="text-dark">{{ product.price | currency }}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-8">
          <h3 class="mb-0">Snack & Munchies</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of SnackList$ | async" class="col">
        <a
          [routerLink]="'/categories/' + item.id"
          class="text-decoration-none text-inherit"
        >
          <div class="card card-product">
            <div class="card-body">
                <div class="text-center position-relative">
                    <a>
              <img [src]="item.imageUrl" [alt]="item.name" class="mb-3 img-fluid" />
            </a>
        </div>
        <h2 class="fs-6">
          <a class="text-inherit text-decoration-none">{{
            item.name
          }}</a>
        </h2>

        <div
          class="d-flex justify-content-between align-items-center mt-3">
          <div>
            <span class="text-dark">{{ item.price | currency }}</span>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
</div>
</div>
</section>
<section class="mb-lg-14 my-8" *ngIf="storeList$ | async as stores">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-6">
        <h3 class="mb-1">Stores</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mb-4">
          <h6>
            We have
            <span class="text-primary">{{ stores.length }}</span> vendors now
          </h6>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 g-lg-4">
      <div *ngFor="let item of stores" class="col">
        <div class="card flex-row p-8 card-product">
          <div>
            <img
              [src]="item.logoUrl"
              [alt]="item.name"
              class="rounded-circle icon-shape icon-xl"
            />
          </div>

          <div class="ms-6">
            <h5 class="mb-1">
              <a [routerLink]="'/stores/' + item.id" class="text-inherit">{{
                item.name
              }}</a>
            </h5>
            <div class="small text-muted">
              <ng-container *ngFor="let tags of item.tags; last as last">
                <span>{{ tags.name }}</span>
                <span *ngIf="!last" class="mx-1"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="4"
                    height="4"
                    fill="#C1C7C6"
                    class="bi bi-circle-fill align-middle"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" /></svg
                ></span>
              </ng-container>
            </div>
            <div>
              <div class="badge text-bg-light border">
                {{ item.distanceInMeters }} km
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



